# default settings to derive from
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 140

---
Language: Cpp

PointerAlignment: Right
DerivePointerAlignment: false

AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true

AllowShortLambdasOnASingleLine: All
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: None

BreakBeforeBraces: WebKit
BreakConstructorInitializers: BeforeComma
BreakBeforeConceptDeclarations: Always
BreakTemplateDeclarations: Yes

BraceWrapping:
  AfterFunction: false
  BeforeLambdaBody: false
---
